@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  background-color: #E6F4F1;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}
body .popup-window-sent {
  background-color: #016599;
  width: clamp(200px, 20.8333333333vw, 800px);
  height: clamp(204px, 21.25vw, 816px);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(4px, 0.4166666667vw, 16px);
  border: clamp(2px, 0.2083333333vw, 8px) solid #33C191;
  box-shadow: 0px 12px 30px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
body .popup-window-sent .name-input, body .popup-window-sent .phone-input, body .popup-window-sent .comment-input, body .popup-window-sent .send {
  width: clamp(170px, 17.7083333333vw, 680px);
}
body .popup-window-sent .name-input, body .popup-window-sent .phone-input {
  height: clamp(21.085px, 2.1963541667vw, 84.34px);
  border-radius: 25px;
  font-size: clamp(7px, 0.7291666667vw, 28px);
  padding-left: clamp(8px, 0.8333333333vw, 32px);
  border: 2px solid #2593E9;
  outline: none;
}
body .popup-window-sent .name-input:focus, body .popup-window-sent .phone-input:focus {
  border: 2px solid #E39E22;
}
body .popup-window-sent .name-input {
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
body .popup-window-sent .phone-input {
  margin-top: clamp(8px, 0.8333333333vw, 32px);
}
body .popup-window-sent .comment-input {
  margin-top: clamp(8px, 0.8333333333vw, 32px);
}
body .popup-window-sent .comment-input {
  height: clamp(61.5px, 6.40625vw, 246px);
  padding-left: clamp(8px, 0.8333333333vw, 32px);
  border-radius: 10px;
  font-size: clamp(7px, 0.7291666667vw, 28px);
  padding-top: clamp(5px, 0.5208333333vw, 20px);
  border: 2px solid #2593E9;
  outline: none;
}
body .popup-window-sent .comment-input:focus {
  border: 2px solid #E39E22;
}
body .popup-window-sent .send {
  width: clamp(178px, 18.5416666667vw, 712px);
  height: clamp(25px, 2.6041666667vw, 100px);
  margin-top: clamp(16px, 1.6666666667vw, 64px);
  border-radius: 30px;
  border: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(12.5px, 1.3020833333vw, 50px);
  color: white;
  cursor: pointer;
  background-color: #E39E22;
  transition: 0.3s all;
}
body .popup-window-sent .send:hover {
  background-color: #2593E9;
}
body .popup-window-sent .sended {
  width: clamp(178px, 18.5416666667vw, 712px);
  height: clamp(25px, 2.6041666667vw, 100px);
  margin-top: clamp(16px, 1.6666666667vw, 64px);
  border-radius: 30px;
  border: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(12.5px, 1.3020833333vw, 50px);
  color: white;
  cursor: pointer;
  background-color: #33C191;
  transition: 0.3s all;
}
body .popup-window-sent .sended:hover {
  background-color: #2593E9;
}
body .popup-window {
  background-color: #016599;
  width: clamp(200px, 20.8333333333vw, 800px);
  height: clamp(204px, 21.25vw, 816px);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(4px, 0.4166666667vw, 16px);
  border: clamp(2px, 0.2083333333vw, 8px) solid #2593E9;
  box-shadow: 0px 12px 30px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
body .popup-window .name-input, body .popup-window .phone-input, body .popup-window .comment-input, body .popup-window .send {
  width: clamp(170px, 17.7083333333vw, 680px);
}
body .popup-window .name-input, body .popup-window .phone-input {
  height: clamp(21.085px, 2.1963541667vw, 84.34px);
  border-radius: 25px;
  font-size: clamp(7px, 0.7291666667vw, 28px);
  padding-left: clamp(8px, 0.8333333333vw, 32px);
  border: 2px solid #2593E9;
  outline: none;
}
body .popup-window .name-input:focus, body .popup-window .phone-input:focus {
  border: 2px solid #E39E22;
}
body .popup-window .name-input {
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
body .popup-window .phone-input {
  margin-top: clamp(8px, 0.8333333333vw, 32px);
}
body .popup-window .comment-input {
  margin-top: clamp(8px, 0.8333333333vw, 32px);
}
body .popup-window .comment-input {
  height: clamp(61.5px, 6.40625vw, 246px);
  padding-left: clamp(8px, 0.8333333333vw, 32px);
  border-radius: 10px;
  font-size: clamp(7px, 0.7291666667vw, 28px);
  padding-top: clamp(5px, 0.5208333333vw, 20px);
  border: 2px solid #2593E9;
  outline: none;
}
body .popup-window .comment-input:focus {
  border: 2px solid #E39E22;
}
body .popup-window .send {
  width: clamp(178px, 18.5416666667vw, 712px);
  height: clamp(25px, 2.6041666667vw, 100px);
  margin-top: clamp(16px, 1.6666666667vw, 64px);
  border-radius: 30px;
  border: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(12.5px, 1.3020833333vw, 50px);
  color: white;
  cursor: pointer;
  background-color: #E39E22;
  transition: 0.3s all;
}
body .popup-window .send:hover {
  background-color: #2593E9;
}
body .popup-window .sended {
  width: clamp(178px, 18.5416666667vw, 712px);
  height: clamp(25px, 2.6041666667vw, 100px);
  margin-top: clamp(16px, 1.6666666667vw, 64px);
  border-radius: 30px;
  border: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(12.5px, 1.3020833333vw, 50px);
  color: white;
  cursor: pointer;
  background-color: #33C191;
  transition: 0.3s all;
}
body .popup-window .sended:hover {
  background-color: #2593E9;
}
body .container {
  width: 100%;
  height: auto;
  background-image: url(../../assets/Background.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: 100% auto;
}
body .container .main-container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  z-index: 20;
  position: relative;
}
body .container .main-container .header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6F4F1;
  flex-direction: column;
}
body .container .main-container .header .separator {
  width: 100%;
  height: clamp(5px, 0.5208333333vw, 20px);
  background-color: #016599;
}
body .container .main-container .header .navigation {
  margin-top: clamp(8px, 0.8333333333vw, 32px);
  margin-bottom: clamp(8px, 0.8333333333vw, 32px);
  width: 86.4583333333%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .container .main-container .header .navigation .for-burger-menu {
  display: none;
}
body .container .main-container .header .navigation .for-burger-menu .burger-menu {
  display: none;
}
body .container .main-container .header .navigation .logo {
  width: clamp(92.5px, 9.6354166667vw, 370px);
  height: clamp(49.085px, 5.1130208333vw, 196.34px);
  cursor: pointer;
}
body .container .main-container .header .navigation .mobile-logo {
  display: none;
}
body .container .main-container .header .navigation .nav-links .nav-link {
  font-size: clamp(11px, 1.1458333333vw, 44px);
  color: #016599;
  cursor: pointer;
  transition: 0.3s all;
  text-decoration: none;
}
body .container .main-container .header .navigation .nav-links .nav-link:hover {
  color: #E39E22;
}
body .container .main-container .header .navigation .nav-links .about {
  margin-right: clamp(16px, 1.6666666667vw, 64px);
}
body .container .main-container .header .navigation .nav-links .services {
  margin-right: clamp(16px, 1.6666666667vw, 64px);
}
body .container .main-container .header .navigation .nav-links .contacts {
  margin-right: clamp(32px, 3.3333333333vw, 128px);
}
body .container .main-container .header .navigation .nav-links .tender-button {
  width: clamp(117.5px, 12.2395833333vw, 470px);
  height: clamp(21.5px, 2.2395833333vw, 86px);
  border-radius: 1.8229166667vw;
  background-color: #E39E22;
  font-size: clamp(11px, 1.1458333333vw, 44px);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.4s all;
}
body .container .main-container .header .navigation .nav-links .tender-button:hover {
  background-color: #2593E9;
}
body .container .main-container .gradient {
  width: 100%;
  height: 87.1%;
  position: absolute;
  background: linear-gradient(89.78deg, rgba(37, 147, 233, 0.98) 24.5%, rgba(37, 147, 233, 0.23) 93.44%);
}
body .container .main-container .wrapper {
  width: 86.4583333333%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 100;
  flex-direction: column;
  margin-top: clamp(64px, 6.6666666667vw, 256px);
  margin-bottom: clamp(64px, 6.6666666667vw, 256px);
}
body .container .main-container .wrapper .main-page .heading {
  width: clamp(447.5px, 46.6145833333vw, 1790px);
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(35px, 3.6458333333vw, 140px);
  text-transform: uppercase;
  color: #FFFFFF;
}
body .container .main-container .wrapper .main-page .main-paragraph {
  width: clamp(336px, 35vw, 1344px);
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(8.75px, 1.8229166667vw, 70px);
  margin-top: clamp(16px, 1.6666666667vw, 64px);
  color: white;
}
body .container .main-container .wrapper .main-page .main-button {
  width: clamp(193.5px, 20.15625vw, 774px);
  height: clamp(30px, 3.125vw, 120px);
  margin-top: clamp(32px, 3.3333333333vw, 128px);
  font-family: "Source Sans Pro";
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  font-size: clamp(16px, 1.6666666667vw, 64px);
  border: none;
  border-radius: 1.8229166667vw;
  background-color: #E39E22;
  color: white;
  transition: 0.3s all;
}
body .container .main-container .wrapper .main-page .main-button:hover {
  background-color: #016599;
}
body .container .separator-2 {
  width: 100%;
  height: clamp(5.5px, 0.5729166667vw, 22px);
  background-color: #016599;
  margin-top: clamp(11.5px, 1.1979166667vw, 46px);
}
body .container .separator-3 {
  background-color: #01476D !important;
  width: 100%;
  height: 10px;
  background-color: #016599;
  margin-top: clamp(6.5px, 0.6770833333vw, 26px);
}
body .container .separator-4 {
  background-color: #01476D !important;
  width: 100%;
  height: clamp(5px, 0.5208333333vw, 20px);
  background-color: #016599;
}
body .container .separator-5 {
  background-color: #01476D !important;
  width: 100%;
  height: clamp(5px, 0.5208333333vw, 20px);
  background-color: #016599;
  margin-top: clamp(64px, 6.6666666667vw, 256px);
}

@media only screen and (max-width: 767px) {
  body {
    background-color: #E6F4F1;
    font-family: "Source Sans Pro", sans-serif;
  }
  body .container {
    width: 100% !important;
    height: auto !important;
    background-image: url(../../assets/Background-Mobile.jpg);
    background-repeat: no-repeat;
    display: flex !important;
    flex-direction: column !important;
    background-size: 100% 100vh !important;
  }
  body .container .separator-2 {
    width: 100% !important;
    height: 10px;
    background-color: #016599;
    margin-top: 0px;
  }
  body .container .separator-3 {
    width: 100%;
    height: 10px;
    background-color: #016599;
    margin-top: clamp(6.5px, 0.6770833333vw, 26px);
  }
  body .container .separator-4 {
    width: 100%;
    height: 10px;
    background-color: #016599;
  }
  body .container .separator-5 {
    width: 100%;
    height: 10px;
    background-color: #016599;
    margin-top: clamp(64px, 6.6666666667vw, 256px);
  }
  body .main-container {
    width: 100% !important;
    height: 100vh !important;
  }
  body .main-container .gradient {
    width: 100% !important;
    height: 92.5vh !important;
    position: absolute !important;
    background: linear-gradient(180.2deg, rgba(37, 147, 233, 0.98) 6.1%, rgba(37, 147, 233, 0.23) 73.68%) !important;
  }
  body .main-container .wrapper {
    margin-top: 100px !important;
    z-index: 10 !important;
  }
  body .main-container .wrapper .main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .main-container .wrapper .main-page .heading {
    width: clamp(177px, 82.7102803738vw, 708px) !important;
    font-family: "Source Sans Pro" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    text-align: center !important;
    font-size: clamp(20px, 9.3457943925vw, 80px) !important;
    text-transform: uppercase !important;
    color: #FFFFFF !important;
  }
  body .main-container .wrapper .main-page .main-paragraph {
    width: clamp(336px, 35vw, 1344px) !important;
    font-weight: 600 !important;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
    font-family: "Source Sans Pro" !important;
    font-style: normal !important;
    text-align: center !important;
    font-size: clamp(12px, 5.6074766355vw, 48px) !important;
    margin-top: clamp(16px, 7.476635514vw, 64px);
    color: white;
  }
  body .main-container .wrapper .main-page .main-button {
    width: clamp(161.5px, 75.4672897196vw, 646px) !important;
    height: clamp(30px, 14.0186915888vw, 120px) !important;
    font-size: clamp(15px, 7.0093457944vw, 60px) !important;
    border-radius: 44px !important;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
  }
  body .main-container .header {
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #E6F4F1 !important;
    flex-direction: column !important;
  }
  body .main-container .header .navigation {
    margin-top: clamp(8px, 0.8333333333vw, 32px) !important;
    margin-bottom: clamp(8px, 0.8333333333vw, 32px) !important;
    width: 86.4583333333% !important;
    height: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  body .main-container .header .navigation .nav-links {
    display: none !important;
  }
  body .main-container .header .navigation .logo {
    display: none !important;
  }
  body .main-container .header .navigation .mobile-logo {
    width: clamp(20px, 9.3457943925vw, 80px) !important;
    height: clamp(24.5px, 11.4485981308vw, 98px) !important;
    display: flex !important;
  }
  body .main-container .header .navigation .for-burger-menu {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  body .main-container .header .navigation .for-burger-menu .x-mark {
    font-size: clamp(17.5px, 8.1775700935vw, 70px);
    color: #E39E22;
    z-index: 10;
    cursor: pointer;
  }
  body .main-container .header .navigation .for-burger-menu .burger-menu {
    width: clamp(21px, 9.8130841121vw, 84px) !important;
    height: clamp(11.5px, 5.3738317757vw, 46px) !important;
    color: #E39E22 !important;
    cursor: pointer !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
  }
  body .main-container .header .navigation .for-burger-menu .burger-menu .burger-line-1, body .main-container .header .navigation .for-burger-menu .burger-menu .burger-line-2, body .main-container .header .navigation .for-burger-menu .burger-menu .burger-line-3 {
    width: clamp(21px, 9.8130841121vw, 84px) !important;
    height: clamp(1.5px, 0.7009345794vw, 6px) !important;
    background-color: #E39E22 !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #E6F4F1;
    font-family: "Source Sans Pro", sans-serif;
  }
  body .container {
    width: 100%;
    height: auto;
    background-image: url(../../assets/Background.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size: 100% auto;
  }
  body .container .separator-2 {
    width: 100%;
    height: 10px;
    background-color: #016599;
    margin-top: clamp(6.5px, 0.6770833333vw, 26px);
  }
  body .container .separator-3 {
    background-color: #01476D !important;
    width: 100%;
    height: 10px;
    background-color: #016599;
    margin-top: clamp(6.5px, 0.6770833333vw, 26px);
  }
  body .container .separator-4 {
    background-color: #01476D !important;
    width: 100%;
    height: 10px;
    background-color: #016599;
  }
  body .container .separator-5 {
    background-color: #01476D !important;
    width: 100%;
    height: 10px;
    background-color: #016599;
    margin-top: clamp(64px, 6.6666666667vw, 256px);
  }
}/*# sourceMappingURL=main_styles.css.map */